/* *代表所有tag<>的元素，都要按照此格式設定 */
/* 實心的線條，大小為1px */
*{
      border: solid 2px black;
      font-family: 微軟正黑體;
      font-size: 20px;
    } 
    .card{
      width: 800px;
      display: flex; /*設定在card以下的div都在同一行上面*/ 
    }
    .left{
      width: 30%;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/1280px-Roasted_coffee_beans.jpg);
      background-size: cover;  
    }
    .right{
      width: 70%;
    }
    ul li{
      display: inline-block;
      width: 30%;
      vertical-align: top;
    }
    h1{
      font-size: 40px;
      color: white;
      background-color: red;
      margin: 20px;
      padding: 20px;
    }
    p{
      margin: 20px;
    }
    h2{
      margin: 20px;
    }